/**
 * Default Commerce Sales Popup styles.
 */

/* Countdown timer defaults */

.commerce-sales-popup__countdown {
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  background: #131313;
  text-align: center;
}

.commerce-sales-popup__countdown .timer-before,
.commerce-sales-popup__countdown .timer-after {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-style: italic;
  line-height: 1em;
  color: #ffffff;
}

.commerce-sales-popup__countdown .timer {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  color: #ffffff;
}

.commerce-sales-popup__countdown .timer__time {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.commerce-sales-popup__countdown .timer__time__top {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
}

.commerce-sales-popup__countdown .timer__time__bottom {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
  color: #808080;
}

.commerce-sales-popup__countdown .timer__message {
  display: block;
  font-size: 32px;
  font-weight: bold;
  line-height: 1em;
}

/* Header. */

.commerce-sales-popup__header {
  width: 100%;
  background: #000;
}

.commerce-sales-popup__header .commerce-sales-popup__header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .commerce-sales-popup__header .commerce-sales-popup__header__container {
    max-width: none;
    padding: 0 1px;
  }
}

.commerce-sales-popup__header a {
  display: block;
  text-align: center;
}

.commerce-sales-popup__header .commerce-sales-popup__header__banner {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 1199px) {
  .commerce-sales-popup__header .commerce-sales-popup__header__banner {
    width: calc(100% - 310px);
    margin-right: 30px;
  }
}
@media (max-width: 850px) {
  .commerce-sales-popup__header .commerce-sales-popup__header__banner {
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .commerce-sales-popup__header .commerce-sales-popup__header__banner {
    width: 100%;
  }
}

.commerce-sales-popup__header .commerce-sales-popup__header__text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 810px);
  padding: 5px;
  font-size: 18px;
  line-height: 1.15em;
  color: #fff;
}
@media (max-width: 1199px) {
  .commerce-sales-popup__header .commerce-sales-popup__header__text {
    display: none;
  }
}

.commerce-sales-popup__header .commerce-sales-popup__header__text p,
.commerce-sales-popup__header .commerce-sales-popup__header__text h1,
.commerce-sales-popup__header .commerce-sales-popup__header__text h2,
.commerce-sales-popup__header .commerce-sales-popup__header__text h3,
.commerce-sales-popup__header .commerce-sales-popup__header__text h4,
.commerce-sales-popup__header .commerce-sales-popup__header__text h5,
.commerce-sales-popup__header .commerce-sales-popup__header__text h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.commerce-sales-popup__header .commerce-sales-popup__countdown {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin: 1px 0;
}
@media (max-width: 700px) {
  .commerce-sales-popup__header .commerce-sales-popup__countdown {
    display: none;
  }
}

@-webkit-keyframes header-timer-digits {
  0% {opacity: 1;}
  20% {opacity: 1;}
  100% {opacity: 0.8;}
}

@keyframes header-timer-digits {
  0% {opacity: 1;}
  20% {opacity: 1;}
  100% {opacity: 0.8;}
}
.commerce-sales-popup__header .commerce-sales-popup__countdown .timer__time__top {
  -webkit-animation-name: header-timer-digits;
  animation-name: header-timer-digits;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Modal. */

.modal-commerce-sales-popup__modal .modal-dialog {
  overflow-y: initial !important;
  width: 100% !important;
  max-height: calc(100vh - 100px);
  margin: 0;
}

.modal-commerce-sales-popup__modal .modal-content {
  border-radius: 0;
  background-color: #000;
  border: 8px solid rgba(255,255,255,0.25);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-commerce-sales-popup__modal .modal-header {
  padding: 0;
  border: 0;
  min-height: 0;
  height: 0;
  position: relative;
}
.modal-commerce-sales-popup__modal .modal-header .modal-title {
  display: none;
}
.modal-commerce-sales-popup__modal .modal-header .close {
  position: absolute;
  z-index: 1;
  top: -14px;
  right: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #fff;
  outline: none;
  background: #000;
  color: #fff;
  font-size: 28px;
  line-height: 1em;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}
.modal-commerce-sales-popup__modal .modal-header .close:hover,
.modal-commerce-sales-popup__modal .modal-header .close:focus {
  outline: none;
  opacity: 0.85;
}

.modal-commerce-sales-popup__modal .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 100px) !important;
  padding: 0;
}
@media (max-width: 600px) {
  .modal-commerce-sales-popup__modal .modal-body {
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  .modal-commerce-sales-popup__modal .modal-body {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .modal-commerce-sales-popup__modal .modal-body {
    max-width: 300px;
  }
}

.modal-commerce-sales-popup__modal  a {
  display: block;
  color: #fff;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text {
  display: block;
  padding: 20px 30px;
  font-size: 22px;
  line-height: 1.3em;
  color: #fff;
  text-align: center;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text p,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h1,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h2,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h3,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h4,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h5,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__text h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__countdown {
  padding: 0 30px 22px;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown {
  padding: 20px 5px;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer-before,
.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer-after {
  display: none;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time {
  margin: 0 10px;
}
@media (max-width: 500px) {
  .modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time {
    margin: 0 5px;
  }
}

@-webkit-keyframes modal-timer-digits {
  0% {opacity: 1;}
  25% {opacity: 0.9;}
  100% {opacity: 0.5;}
}

@keyframes modal-timer-digits {
  0% {opacity: 1;}
  25% {opacity: 0.9;}
  100% {opacity: 0.5;}
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time__top {
  font-size: 50px;
  margin-bottom: 3px;
  -webkit-animation-name: modal-timer-digits;
  animation-name: modal-timer-digits;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media (max-width: 500px) {
  .modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time__top {
    font-size: 28px;
  }
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time__bottom {
  font-size: 18px;
}
@media (max-width: 500px) {
  .modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__time__bottom {
    font-size: 14px;
  }
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__message {
  font-size: 50px;
}
@media (max-width: 500px) {
  .modal-commerce-sales-popup__modal .commerce-sales-popup__countdown .timer__message {
    font-size: 28px;
  }
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__cta {
  text-align: center;
  padding: 0 25px;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__cta-button {
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 30px;
  background: #808080;
  background: rgba(128,128,128,1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.15em;
  letter-spacing: 0.05em;
  color: #fff;
  -webkit-transition: background .1s ease;
  -o-transition: background .1s ease;
  transition: background .1s ease;
}

.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__cta-button:hover,
.modal-commerce-sales-popup__modal .commerce-sales-popup__modal__cta-button:focus {
  background: #808080;
  background: rgba(128,128,128,0.9);
}

.modal-commerce-sales-popup__modal  a:hover .commerce-sales-popup__modal__cta-button,
.modal-commerce-sales-popup__modal  a:focus .commerce-sales-popup__modal__cta-button {
  background: #808080;
  background: rgba(128,128,128,0.9);
}

