
.commerce-sales-notes {
  border: 1px dotted;
  padding: 5px;
  margin: 10px;
  margin-bottom: 20px;
  background: #e9e9e9;
}

.commerce-sales-popup__extra-links {
  text-align: center;
  border: 1px dotted;
  padding: 5px;
  margin: 10px;
  background: #e9e9e9;
}

.commerce-sales-popup__extra-links ul {
  font-size: 21px;
}

.commerce-sales-popup__extra-links ul li {
  display: inline;
  margin: 10px;
}

.commerce-sales-popup__extra-links ul li a {
  text-decoration: none;
}
